nginx:
  image: thibautgery/docker-nginx
  ports:
    - 80:80
  log_driver: fluentd
  restart: always
  labels:
    service: nginx
  log_opt:
    fluentd-tag: "nginx.docker.{{ '{{' }}.Name {{ '}}' }}"
    labels: service
